* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  background-color: black;
  margin: 0;
  background-image: url('course_goals_background4.jpeg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  }


  
